/* Reset and basic style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #4b6cb7, #182848); */
  background-color: aquamarine;
}


.login-container {
  background: rgb(131, 212, 227);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 420px;
}

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
      color: #333;
    }

    select {
      width: 350px;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      background: white;
      font-size: 0.9rem;
      color: #333;
      outline: none;
      transition: 0.3s;
    }

    select:focus {
      border-color: #4b6cb7;
      box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
    }

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #4b6cb7;
  box-shadow: 0 0 4px rgba(75, 108, 183, 0.5);
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background: #4b6cb7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background: #3a539b;
}

.extra-links {
  /* text-align: center; */
  margin-top: 1rem;
}

.extra-links a {
  text-decoration: none;
  color: #4b6cb7;
  font-size: 0.9rem;
}

.extra-links a:hover {
  text-decoration: underline;
}
